body{
    background-color: #171717;
}
#header{
    background-color: aquamarine;
}
h1{
    font-family: 'Chelsea Market', cursive;
    font-size: 3.2rem;
}
h2{
    font-size: 2em;
    
}
#nav{
    background-color: whitesmoke;
}

#boxes button{
    width: inherit;
    height: 10rem;
    border-radius: 10px;
    background-color: transparent;
    visibility: hidden;
    
}
p{
    font-size: 1.3rem;
    font-weight: bold;
 

}
.easy{
    width: 1.5rem;
}