body{
    background-color: #171717;
}
#header{
    background-color: aquamarine;
}
#nav{
    background-color: rgb(10, 108, 221);
}
#boxes button{
    border: 2px solid black;
    width: inherit;
    height: 160px;
    border-radius: 8px;
    color: black;
    background-color: lavenderblush;
}