body{
    background-color: #171717;
}
#header{
    background-color: aquamarine;
}
h1{
    font-family: 'Chelsea Market', cursive;
    font-size: 3.2rem;
    letter-spacing: 10px;
}
h2{
    font-size: 2em;

}
i{
    font-size: 1.8rem;
}
#nav{
    background-color: whitesmoke;
}

#boxes button{
    width: inherit;
    height: 10rem;
    border-radius: 10px;
    background-color: transparent;
    visibility: hidden;
    
}
#nav p{
    font-family: 'Chelsea Market', cursive;
    font-size: 1.4rem;
    font-weight: bold;
    /* color: whitesmoke; */

}
.easy{
    width: 1.5rem;
}
#bottomNavBar{
    font-family: 'Chelsea Market', cursive;
    color: whitesmoke;
    margin-top: 10%;
    
}

#bottomNavBar a{
    color: whitesmoke;
}
#bottomNavBar a:hover{
    color: aquamarine;
    text-decoration: none;
}
#score{
    font-family: 'Chelsea Market', cursive;
    color: whitesmoke;
    visibility: hidden;
}

